.search {
  height: 100vh;
  width: 100vw;
  display: flex;
  align-items: center;
  color: var(--white-color-default);
  background-color: var(--blue-color-shade-2);
  overflow-y: scroll;
}

.search::-webkit-scrollbar {
  display: none;
}

.search {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.search__layout {
  width: 960px;
  height: 540px;
  margin: 0 auto;
  background: url(https://js-ind-app.herokuapp.com/images/app-bkg-02.png) no-repeat var(--blue-color-shade-2);
  background-position: center center;
  display: flex;
  flex-direction: column;
}

.search__header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 75%;
  padding: 20px 100px;
}

.search__heading {
  font-weight: normal;
  font-size: 0.9rem;
  padding-left: 25px;
}

.search__icons .MuiSvgIcon-root {
  font-size: 2.5rem !important;
  margin-right: 8px;
  cursor: pointer;
}

.search__body {
  width: 75%;
  padding: 0 125px;
}

.search__input__container {
  display: flex;
  align-items: center;
}

.search__input__container .MuiSvgIcon-root {
  cursor: pointer;
  margin-top: 5px;
}

.search__input {
  width: 91%;
  background-color: transparent;
  border: none;
  color: var(--white-color-default);
  outline-color: var(--blue-color-shade-1);
  font-size: 1.1rem;
  border-bottom: 1px solid var(--blue-color-shade-3);
  height: 2rem;
}

.search__input::placeholder {
  color: var(--blue-color-shade-4);
  opacity: 0.5;
}

.search__body p {
  margin-top: 10px;
}

.search__result {
  width: 93%;
  border: 1px solid var(--white-color-default);
  margin: 20px 0;
  display: flex;
}

.search__result__left {
  height: 90px;
  flex: 0.2;
  margin: 10px;
}

.search__result__right {
  flex: 0.8;
  margin: 10px;
  height: max-content;
}

.search__result__right h3 {
  font-size: 0.8rem;
  font-weight: normal;
}

.search__result__right p {
  font-size: 0.7rem;
}

@media screen and (max-width:425px) {
  .search__layout {
    background-position: top left !important;
    background-size: contain;
  }

  .search__header {
    padding: 20px 30px;
  }

  .search__body {
    padding: 0 52px;
  }

  .search__input {
    width: 80%;
  }

  .search__result {
    width: 86%;
    flex-direction: column;
  }

  .search__result__left {
    margin-top: 17px;
    flex: none;
  }
}